{% extends "admin.twig" %}

{% block contentHeader %}
Principal
{% endblock contentHeader %}

{% block content %}
<!-- /.row -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="alert alert-success">
            Ol치 {{ data.nome }}! Bem vindo ao Imobilize, confira abaixo os seus relat칩rios mensais.
        </div>
    </div>
    <div class="col-md-12 col-lg-12">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>Contratos</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/alugueis">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>Inquilinos</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/inquilinos">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-home fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>Im칩veis</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/imoveis">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-key fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Propriet치rios</div>
                        </div>
                    </div>
                </div>
                <a href="/admin/proprietarios">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {#<div class="col-md-6">#}
        {#<div class="col-lg-12 col-md-12">#}
            {#<div class="panel panel-default">#}
                {#<div class="panel-heading">#}
                    {#<i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example#}
                {#</div>#}
                {#<div class="panel-body">#}
                    {#<div id="morris-donut-chart"></div>#}
                    {#<a href="#" class="btn btn-default btn-block">View Details</a>#}
                {#</div>#}
                {#<!-- /.panel-body -->#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</div>
<div class="row">

</div>
{% endblock content %}