{% block sidebar %}
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
        </li>
        <li>
            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Home</a>
        </li>
        <li>
            <a href="/admin/proprietarios"><i class="fa fa-key fa-fw"></i> Proprietários</a>
        </li>
        <li>
            <a href="/admin/imoveis"><i class="fa fa-home fa-fw"></i> Imóveis</a>
        </li>
        <li>
            <a href="/admin/inquilinos"><i class="fa fa-user fa-fw"></i> Inquilinos</a>
        </li>
        <li>
            <a href="/admin/alugueis"><i class="fa fa-list-alt fa-fw"></i> Aluguéis</a>
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->
{% endblock sidebar %}